<h2>{{ subTitle }}</h2>

<div id="centeredBoxLayout">
  <form (ngSubmit)="register(form)" #form="ngForm">
      <p>Username</p>
      <input type="text" name="username" #trackUsername="ngModel" [(ngModel)]="userModel.username" required>
      <app-label-input-error *ngIf="errorInput == 'username'" text="{{ error }}"></app-label-input-error>

      <p>Password</p>
      <input type="password" name="password" #trackPassword="ngModel" [(ngModel)]="userModel.password" required>
      <app-label-input-error *ngIf="errorInput == 'password'" text="{{ error }}"></app-label-input-error>

      <p>Confirm password</p>
      <input type="password" name="passwordConfirm" #trackPasswordConfirm="ngModel" [(ngModel)]="userModel.passwordConfirm" required>
      <app-label-input-error *ngIf="errorInput == 'passwordConfirm'" text="{{ error }}"></app-label-input-error>

      <button class="actionButton" type="submit">Register</button>
    </form>
</div>