<h2>{{ subTitle }}</h2>
<mat-slide-toggle mat-raised-button color="accent" *ngIf="isConnected" id="mineToggle" [(ngModel)]="userService.isMining ">Mine Enabled</mat-slide-toggle>

<div id="centeredBoxLayout">
      <p>Firstname</p>
      <input matInput type="text" name="firstname" [(ngModel)]="userService.currentUser.firstname" disabled>

      <p>Lastname</p>
      <input matInput type="text" name="lastname" [(ngModel)]="userService.currentUser.lastname" disabled required>

      <p>Email</p>
      <input matInput type="email" name="email" [(ngModel)]="userService.currentUser.email" disabled required>
    
      <p>Account ID</p>
      <input matInput type="text" name="accountid" [(ngModel)]="userService.currentUser.accountId" disabled required>
    <br>
    <button mat-raised-button color="primary" class="actionButton" (click)="goBack();">Back</button>
</div>