<h2>{{ subTitle }}</h2>

<div id="centeredBoxLayout">
  <p id="centeredBoxHeader">{{ tokens }} tokens</p>

  <form (ngSubmit)="send(form)" #form="ngForm">
      <p>Amount</p>
      <input type="number" name="amount" #trackAmount="ngModel" [(ngModel)]="trxModel.amount" required>
      <app-label-input-error *ngIf="errorInput == 'amount'" text="{{ error }}"></app-label-input-error>
    
      <p>Address</p>
      <input type="text" name="address" #trackAddress="ngModel" [(ngModel)]="trxModel.address" required>
      <app-label-input-error *ngIf="errorInput == 'address'" text="{{ error }}"></app-label-input-error>
    
      <button class="actionButton" type="submit">Send</button>
  </form>
</div>