<h2>{{ subTitle }}</h2>

<div id="centeredBoxLayout">  
  <mat-card *ngIf="informationMessage" id="informationMessage"> {{informationMessage}} </mat-card>

  <p id="centeredBoxHeader">You currently have {{ userService.currentUser.tokens }} Tokens</p>

  <form id='myForm' (ngSubmit)="send(form)" #form="ngForm">
      <p>Amount</p>
      <input type="number" name="amount" [(ngModel)]="amount" required>
    
      <p>Receiver account ID</p>
      <input type="text" name="address" [(ngModel)]="accountId" required>
    
      <div class="buttonPanel">
          <button mat-raised-button color="primary" class="actionButton" (click)="goBack();">
            <mat-icon>home</mat-icon>
          </button>
          
          <button mat-raised-button color="primary" class="actionButton" type="submit">
              <mat-icon>send</mat-icon>
            </button>
      </div>
  </form>
</div>