#page {
    display: flex;
    flex-direction: column;
    min-height: 105vh;

    header {
        padding: 25px;
        
        button {
            background: none;
            border: none;
            cursor: pointer;

            h1 {
                display: inline;
                vertical-align: middle;

                img {
                    vertical-align: text-top;
                }
            }
        }

        p {
            margin-top: 20px;

            &:after {
                content:"";
                display: inline-block;
                
                width: 100%;
                height: 0.5em;

                margin-right: -100%;
                margin-left: 25px;
                
                vertical-align: bottom;
                border-top: 1px solid black;
            }
        }
    }

    #content {
        margin: 20px 10% 0 10%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;

        box-shadow: none;
        transition: none;
        position: unset;
        border-radius: 0;
        background: none;
        color: unset;
    }

    footer {
        margin-bottom: 40px;
        padding-left: 5px;
        border-top: black;
        border-top-width: 1px;
        border-top-style: solid;
    }
}