#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    header {
        padding: 25px;
        
        h1 {
            display: inline;
            vertical-align: middle;
            
            a {
                text-decoration: none;

                &:active {
                    color: black;
                }

                img {
                    vertical-align: text-top;
                }
            }
        }
        
        button {
            float: right;
            margin-top: 8px;
        }

        p {
            margin-top: 20px;

            &:after {
                content:"";
                display: inline-block;
                
                width: 100%;
                height: 0.5em;

                margin-right: -100%;
                margin-left: 5px;
                
                vertical-align: bottom;
                border-top: 1px solid black;
            }
        }
    }

    #content {
        padding: 30px;
        margin-bottom: 30px;

        flex-grow: 1;
        text-align: center;
    }

    footer {
        padding: 30px;
    
        border-top: black;
        border-top-width: 1px;
        border-top-style: solid;
    }
}