#page{
    display: "flex";
    flex-direction: "column"
}
#centeredBoxLayout{
    display: "flex";
    flex-direction: "column";

    #errorMessage{
        position: absolute;
        background: indianred;
        font-size: medium;
        width: max-content;
        height: max-content;
        padding: 10px;
    }
}

form{
    text-align: center
}

.backButton{
    margin: auto;
    margin-top: 20px;
}