#page{
    display: "flex";
    flex-direction: "column"
}
#centeredBoxLayout{
    display: "flex";
    flex-direction: "column"
}

form{
    text-align: center
}

.backButton{
    margin: auto;
    margin-top: 20px;
}