.parentErrorLabel {
    position: relative;
    display: inline-block;
    vertical-align: bottom;

    img {
        width: 25px;
        margin-left: 4px;
        vertical-align: bottom;
    }

    .childErrorLabel {
        visibility: hidden;
        width: 200px;
        background-color: darkgrey;
        color: white;
        text-align: center;
        padding: 5px 10px;
        border-radius: 6px;
    
        position: absolute;
        z-index: 1;
        bottom: 122%;
        margin-left: -208px;
    
        opacity: 0;
        transition: opacity 0.5s;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            margin-left: 80px;

            border-width: 5px;
            border-style: solid;
            border-color: darkgrey transparent transparent transparent;
        }

        p {
            margin: 0;
            overflow-wrap: break-word;
        }
    }
  
    &:hover span {
        visibility: visible;
        opacity: 0.9;
    }
}